.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px ;
    padding-bottom: 10px ;
 
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

  
 
 

  .Sixth {
    font-size: 1rem;
    font-weight: 400;
    border: 1px ridge black;
    
     color: black;
 
    border-radius: 100px;
 
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    width: 60%;
  
    letter-spacing: 2px;
    
     
  }
  .Sixth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: black;
    
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .Sixth:hover {
    color: #fff;
  }
  .Sixth:hover:after {
    width: 110%;
  }


  

  .Sixth2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
    border: 1px ridge white;
    
     color: white;
 
    border-radius: 100px;
 
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    width: 20%;
  
    letter-spacing: 2px;
    margin-right: 50px;
    
     
  }
  .Sixth2:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: white;
    
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .Sixth2:hover {
    color: black;
  }
  .Sixth2:hover:after {
    width: 110%;
  }
 
  
 



@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .Sixth2 {
    font-size: 14px;
 
 
    width: 60%;
    margin-right: 0px;
    margin-bottom: 5px;    left: 5%;
 
 
  }
  }
  
  @media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .Sixth2 {
    font-size: 14px;
 
 
    width: 70%;
    
  }

  }
  
  @media screen and (max-width: 479px) {
  /* start of phone styles */
  .Sixth2 {
    font-size: 13px;
 
 
    width: 60%;

  }
  }
 
 