.Container{
     
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)  ;
    overflow: hidden;
	width: 40%;
	max-width: 80%;
	min-height: 480px;

}

.Image {
    text-align: center;
    width: 200px;
    /* Container's dimensions */
    
    height: 200px;
    -webkit-border-radius: 75%;
    -moz-border-radius: 75%;
    box-shadow: 0 0 0 1px #eee;
    background: url("../../assests/images/avatar.png") center center no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -30px;
    align-content: center;
     
   
  }
  .Trick{
    display: inline-block;
    vertical-align: middle;
    height: 150px;
  }

  .Trick:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .Image:hover {
    box-shadow: 0px 5px 20px .9px #3F3F3F;
  }
  
  .Image:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    -webkit-transition: 1.6s ease-in-out;
    transition: 1.6s ease-in-out;
  }
  
 
  
  

.EmpCard{
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 10px;
  
	justify-content:center;
  
    align-items: center;
	 
}


 .EmpCard span{
    font-style: italic;

 }