

body{
	background-color: #262a2b;
 
} 
.AddEmp{
 
  display: flex;
    flex-direction: column;
 

	justify-content:center;
  
    align-items: center;    
    
    
}
 
 
 .AddEmp input{
    font-style: italic;

 } 
 