

body{
	background-color: #262a2b;
 
}
.Container{
     
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    
    transform: translate(-50%, -50%)  ;
 
    /*card wala eh??*/
/*  width: 35%;
	max-width: 75%;
	min-height: 480px; */
  border-radius: 20px;  
  box-shadow: 0px 1px 10px 1px black;  


  
}

 
.Image {
    text-align: center;
    width: 100px;
    /* Container's dimensions */
    
    height: 100px;
    -webkit-border-radius: 75%;
    -moz-border-radius: 75%;
  
    background: url("../../assests/images/avatar.png") center center no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -50px;
    align-content: center;
     
    vertical-align: middle;
    height: 100px; 
    width: 100px;  
     -webkit-transform: scale(1);
  }
 
 
 
  .Image:hover {
    box-shadow: 0px 5px 20px .9px #3F3F3F;  -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    -webkit-transition: 1.6s ease-in-out;
    transition: 1.6s ease-in-out;
  }
  

.EmpCard{
 
  display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

	justify-content:center;
  
    align-items: center;    padding-top: 30px;
    
    
}
.EmpCard input{
  font-style: italic;
}



.Container:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
  background: -webkit-linear-gradient(to right, #991100, #42c000);
  background: linear-gradient(to right, #991100, #42c000);
  
}
 
 @media (min-width: 300px) and (min-height: 400px) {
  .Container {
    width: 60%;
    height: 60%;
   
  }
  .Image{
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) and (min-height: 401px) {
  .Container {
    width: 60%;
    height: 50%;
  }
  .Image{
    width: 75px;
    height: 75px;
  }
}
@media (min-width: 1000px) and (min-height: 700px) {
  .Container {
    width: 35%;
    height: 70%;
  }
  .Image{
    width: 100px;
    height: 100px;
  }
}