
 @media (min-width: 300px) and (min-height: 400px) {
    .Container {
      width: 80%;
      height: 80%;
     
    }
    .Image{
      width: 50px;
      height: 50px;
    }
  }
  @media (min-width: 768px) and (min-height: 401px) {
    .Container {
      width: 20%;
      height: 50%;
    }
    .Image{
      width: 75px;
      height: 75px;
    }
  }
  @media (min-width: 1000px) and (min-height: 700px) {
    .Container {
      width: 35%;
      height: 70%;
    }
    .Image{
      width: 100px;
      height: 100px;
    }
  }


.Input {
    width: 60%;
    margin: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.Label{
     
    color: black;
    font-size:  1.5rem; 
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    font-style: normal;
    text-align: center;
    padding-top: 30px;
    padding-bottom: -30px;
     
 
        min-width:  500px; 

}
.InputElement {
    font-family: 'Open Sans', sans-serif;
font-weight: 500;
font-size:  20px; 
letter-spacing: 1.5px;
 
 
    padding:  10px 0px; 
    height:  50px; 
    border:  none; 
/*     border-bottom:  solid 1px rgba(0,0,0,.1);  */
    border-radius: 20px;
    background:  rgb(230, 230, 230); 
    min-width:  500px; 
    box-sizing:  border-box; 
    transition:  all .3s linear; 
    color:  #000; 
   
    -webkit-appearance:  none;   text-align: center;
    

}
.Bold{
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:  24px; 

}
.Age{
    color: black;
    font-weight: bold;
 
}

.Title{
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    font-size:  18px; 
}

.ID{
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
}


 
.InputElement:focus {
    outline: none;
    background-color: #ccc;
    border-bottom: 1px solid  ;
    
}

.Invalid {
     
    background-color: salmon;
    
}
.Disabled {
     
    background-color: transparent;
    
}
.Input span{
    
    color: salmon;
   
     margin-right: 30px;
  
 }
  

